$base-color1: hsl(274, 100%, 39%);
$base-color2: hsl(48, 100%, 46%);

@for $i from 1 through 4 {
    .darken-#{$i} {
        background-color: darken($base-color1, 10% * $i);
    }
}

@for $i from 1 through 4 {
    .lighten-#{$i} {
        background-color: lighten($base-color1, 10% * $i);
    }
}
