@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

$palettes: (
        purple : (
            base: #7200C9,
            lighten1: #7200C9,
            lighten2: #950AFF,
            lighten3: #9E1FFF,
            lighten4: #A733FF,
            darken1: #6800B8,
            darken2: #5C00A3,
            darken3: #51008F,
            darken4: #45007A,
        ),
        yellow: (
            base: #EBBC00,
            lighten1: #FFCE0A,
            lighten2: #FFD21F,
            lighten3: #FFD633,
            lighten4: #FFDA47,
            darken1: #E0B400,
            darken2: #CCA300,
            darken3: #B89300,
            darken4: #A38300,
        ),
);

:root {
    @each $colorname, $palette in $palettes {
        @each $key, $value in $palette {
            $keyname: "--palette-" + $colorname + "-" + $key;
            #{$keyname}: #{$value};
        }
    }
}

html {
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;

    .box {
        padding: 1.5em;
        margin: .5em;
        color: white;
    }
}

.container-1 {
    .base-color {
        background-color: var(--palette-purple-base);
    }

    .darken-4 {
        background-color: var(--palette-purple-darken4);
    }

    .darken-3 {
        background-color: var(--palette-purple-darken3);
    }

    .darken-2 {
        background-color: var(--palette-purple-darken2);
    }

    .darken-1 {
        background-color: var(--palette-purple-darken1);
    }

    .lighten-1 {
        background-color: var(--palette-purple-lighten1);
    }

    .lighten-2 {
        background-color: var(--palette-purple-lighten2);
    }

    .lighten-3 {
        background-color: var(--palette-purple-lighten3);
    }

    .lighten-4 {
        background-color: var(--palette-purple-lighten4);
    }
}

.container-2 {
    .base-color {
        background-color: var(--palette-yellow-base);
    }

    .darken-4 {
        background-color: var(--palette-yellow-darken4);
    }

    .darken-3 {
        background-color: var(--palette-yellow-darken3);
    }

    .darken-2 {
        background-color: var(--palette-yellow-darken2);
    }

    .darken-1 {
        background-color: var(--palette-yellow-darken1);
    }

    .lighten-1 {
        background-color: var(--palette-yellow-lighten1);
    }

    .lighten-2 {
        background-color: var(--palette-yellow-lighten2);
    }

    .lighten-3 {
        background-color: var(--palette-yellow-lighten3);
    }

    .lighten-4 {
        background-color: var(--palette-yellow-lighten4);
    }
}