@import 'palettes.scss';

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
} 

html {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;

    .box {
        padding: 1.5em;
        margin: .5em;
        color: hsl(0, 0%, 100%);
    }
}


.base-color1 {
    background-color: $base-color1;
}

.base-color2 {
    background-color: $base-color2;
}