@use 'palettes.scss';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html {
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;

    .box {
        padding: 1.5em;
        margin: .5em;
        color: hsl(0, 0%, 100%);
    }
}

.container-1 {
    .base-color {
        background-color: var(--palette-purple-base);
    }

    .darken-4 {
        background-color: var(--palette-purple-darken4);
    }

    .darken-3 {
        background-color: var(--palette-purple-darken3);
    }

    .darken-2 {
        background-color: var(--palette-purple-darken2);
    }

    .darken-1 {
        background-color: var(--palette-purple-darken1);
    }

    .lighten-1 {
        background-color: var(--palette-purple-lighten1);
    }

    .lighten-2 {
        background-color: var(--palette-purple-lighten2);
    }

    .lighten-3 {
        background-color: var(--palette-purple-lighten3);
    }

    .lighten-4 {
        background-color: var(--palette-purple-lighten4);
    }
}

.container-2 {
    .base-color {
        background-color: var(--palette-yellow-base);
    }

    .darken-4 {
        background-color: var(--palette-yellow-darken4);
    }

    .darken-3 {
        background-color: var(--palette-yellow-darken3);
    }

    .darken-2 {
        background-color: var(--palette-yellow-darken2);
    }

    .darken-1 {
        background-color: var(--palette-yellow-darken1);
    }

    .lighten-1 {
        background-color: var(--palette-yellow-lighten1);
    }

    .lighten-2 {
        background-color: var(--palette-yellow-lighten2);
    }

    .lighten-3 {
        background-color: var(--palette-yellow-lighten3);
    }

    .lighten-4 {
        background-color: var(--palette-yellow-lighten4);
    }
}