@import 'variables.scss';
@import 'media.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

header {
    background: $primary-color;

     & .toolbar {
        display: none;
    }

    .page-title {
        font-family: 'Bungee', cursive;
        font-size: 1.5em;
        color: hsl(0, 0, 100%);
        background: $secondary-color;
        padding: 1.5rem;
    }
}

nav {
    background: $complementary-color;
    color: white;

    & .menu-title {
        display: none;
    }

    ul {
        display: flex;
        justify-content: space-between;

        list-style-type: none;
        background: hsl(0, 0, 100%);
        padding: 1.5rem;
        cursor: pointer;

        & li {
            color: $complementary-color;
        }

        & li:hover {
            color: $third-color;
            font-weight: bold;
        }
    }
}

main {
    background: $primary-color;
    padding: 2rem;
    
    display: grid;
    grid-template-columns: 1fr;

    .item {
        background-color: $card-bg;
        padding: 1.5rem;
        margin-bottom: .5rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            object-fit: cover;
            width: 60%;
            margin-right: 3rem;
        }

        .member-name {
            font-size: 2em;
            font-weight: bold;
        }
    }
}

footer {
    padding: 2rem;
    text-align: center;
    background-color: $third-color;
}