@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Open+Sans:wght@500&display=swap');

$primary-color: hsl(171, 51%, 55%);
$secondary-color: hsl(171, 82%, 35%);
$third-color: hsl(171, 34%, 48%);
$card-bg: hsl(171, 51%, 92%);
$complementary-color: hsl(351, 92%, 50%);

$logo-font: 'Bungee', cursive;
$primary-font: 'Open Sans', sans-serif;